*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app{
  text-align: center;
}
h1{
  padding: 10px;
  background: #9e9696;
}
ul li{
  padding: 5px;
}
button{
  width: 100%;
  padding: 5px 0px;
  background: #7cbb68;
}
.click{
  background-color: #9e9696;
}